@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Noto Serif', serif;
   line-height: 1;
   color: #231E20;
   background: #60c5ed;
}

a {
   text-decoration: none;
   color: #231E20;
}

.container {
   padding: 0 20px;
}

h1 {
   margin-bottom: 40px;
   margin-top: 40px;
   text-shadow: 4px 4px 5px rgb(20, 95, 135);

   
}

.toc-wrapper {
   width: 100%;
   max-width: 768px;
   margin: 0 auto 40px;
   padding-left: 40px;
}

.toc {
   list-style: none;
   counter-reset: li;
   background: url("../img/beach.jpg") no-repeat;
   background-size: cover;
   padding: 50px 0;
}

.toc li {
   position: relative;
   padding: 20px 20px 20px 0;
   background: #60c5ed;
   margin-bottom: 50px;
   line-height: 1.2;
   transition: .3s linear;
}

.toc li:last-child {
   margin-bottom: 0;
}

.toc li:before {
   counter-increment: li;
   content: counters(li, ".") ". ";
   position: absolute;
   width: 40px;
   text-align: center;
   font-weight: 700;
   font-size: 1.2em;
   left: -40px;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   transition: .3s linear;
}

.toc li:hover:before {
   padding-left: 10px;
}

@media(max-width:767px) {
   h1 {
      margin-bottom: 30px;
   }
}

   .toc li {
      padding: 15px 20px 15px 0;
      margin-bottom: 40px;
   }

h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    text-shadow: 4px 4px 5px rgb(20, 95, 135);
}

p {
    line-height: 1.6

}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}