@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Noto Serif', serif;
   line-height: 1;
   color: #231E20;
   background: #60c5ed;
}

a {
   text-decoration: none;
   color: #231E20;
}

.container {
   padding: 0 20px;
}

h1 {
   margin-bottom: 40px;
   margin-top: 40px;
   text-shadow: 4px 4px 5px rgb(20, 95, 135);

   
}

.toc-wrapper {
   width: 100%;
   max-width: 768px;
   margin: 0 auto 40px;
   padding-left: 40px;
}

.toc {
   list-style: none;
   counter-reset: li;
   background: url("../img/beach.jpg") no-repeat;
   background-size: cover;
   padding: 50px 0;
}

.toc li {
   position: relative;
   padding: 20px 20px 20px 0;
   background: #60c5ed;
   margin-bottom: 50px;
   line-height: 1.2;
   transition: .3s linear;
}

.toc li:last-child {
   margin-bottom: 0;
}

.toc li:before {
   counter-increment: li;
   content: counters(li, ".") ". ";
   position: absolute;
   width: 40px;
   text-align: center;
   font-weight: 700;
   font-size: 1.2em;
   left: -40px;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   transition: .3s linear;
}

.toc li:hover:before {
   padding-left: 10px;
}

@media(max-width:767px) {
   h1 {
      margin-bottom: 30px;
   }
}

   .toc li {
      padding: 15px 20px 15px 0;
      margin-bottom: 40px;
   }

h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px;
    text-shadow: 4px 4px 5px rgb(20, 95, 135);
}

p {
    line-height: 1.6;
    margin-left: 40px

}

img {
    border-radius: 8px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
}

*{box-sizing:content-box
}

nav {background: #759b5f;}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left:20px;
}
nav ul:after {
  content: "";
  display: table;
  clear: left;

}
nav a {
  text-decoration;
  display: block;
  transition: .2s ease-out;
  margin-left:20px;
  font-size: 20px;
  color:rgb(0, 0, 0);
  margin: 5px;
  font-weight: bold;
  
}
.topmenu > li {
  float:left;
  position:relative;
  border-left: 10px solid rgb(129, 7, 7);

}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {  
  padding: 200px 300px;
  font-size: 20px;
  text-transform: uppercase;
  color: #581a1a;
  letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #c9c1b3;}
.topmenu .fa, 
.submenu .fa {
  margin-left: 50px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: rgb(134, 182, 119);
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s ease-out;  
}
.submenu li {position: relative;}
.submenu li a {
  color: #000000;
  padding: 18px 20px;
  font-size: 16px;
  border-bottom: 1px solid #91af85;
}
.submenu .submenu {
  position: absolute;
  left: 92%;
  top: -1px;
  transition: .3s ease-out;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
li {
   list-style-type: none;
}